@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oxygen);

/* Page layout */

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    color: #444;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
}

header {
    margin: 0;
    background: #000;
    height: 65px;
    padding: 1px;
}

article {
    margin: 40px 30px;
}

h1 {
    font-family: 'Arial';
    letter-spacing: 1px;
    font-size: 3em;
    line-height: 65px;
    text-transform: uppercase;
    color: darkcyan;
    font-weight: 900;
    margin: 0;
    padding: 10px 0 0 30px;
    letter-spacing: 2px;
}

h2 { 
    margin: 20px 0 10px 0;
    font-weight: 900;
    background-color: black;
}

p {
    margin: 20px 0 5px 0;
}

body {
    background-color: black;
}

a {
    color: #fff;
    text-align: left;
    font-weight: lighter;
    text-decoration: none;
}

a:hover {
    color: darkcyan;
}


/* Table Layout */

table.schools {
    margin: 20px 0 0 0;
    border-collapse: collapse;
    border-spacing: 0;
    background: #212121;
    color: #fff;
}

table.schools th, table.schools td {
    text-align: center;
}

table.schools thead {
    line-height: 12px;
    background: #2e63e7;
    text-transform: uppercase;
}

table.schools thead th {
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    vertical-align: bottom;
}

table.schools thead th:nth-child(1) {
    width: 20%;
    text-align: left;
    padding-left: 20px;
}

table.schools thead th:nth-child(2) {
    width: 30%;
}

table.schools thead th:nth-child(3) {
    width: 35%;
}

table.schools thead th:nth-child(4) {
    width: 15%;
}

table.schools tbody {
    font-size: 1em;
    line-height: 15px;
}

table.schools tbody tr {
    border-top: 2px solid rgba(145, 190, 228, 0.8);
    transition: background 0.2s, color 0.2s;
}

table.schools tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

table.schools tbody tr:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    font-weight: 900;
}

table.schools tbody td {
    padding: 12px;
}

table.schools tbody tr:hover td:first-child {
    background: rgba(0,0,0,0);
}

table.schools tbody td:first-child {
    text-align: left;
    padding-left: 20px;
    font-weight: 700;
    background: rgba(109, 176, 231, 0.35);
    transition: background 0.2s;
}

table.schools tfoot {
    font-size: 0.8em;
}

table.schools tfoot tr {
    border-top: 2px solid #2e63e7;
}

table.schools tfoot td {
    color: rgba(255,255,215,0.6);
    text-align: left;
    line-height: 15px;
    padding: 15px 20px;
}



/* Mobile Layout */

@media screen and (max-width: 400px) {
    h1 {
        font-size: 34px;
        line-height: 36px;
        padding-left: 15px;
    }

    article {
        margin: 10px 15px;
    }

    table.schools {
        font-size: 0.8em;
    }
}